@model IEnumerable<ASMPhamThangWAD.Models.Exam>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Subject</th>
            <th scope="col">Start Time</th>
            <th scope="col">Exam Date</th>
            <th scope="col">Duration</th>
            <th scope="col">Class Room</th>
            <th scope="col">Faculty</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamSubject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamDuration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassRoom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Faculty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
    </tbody>        
</table>
